header{
  background-image: url(../assets/images/Background_Intro.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -10px;
  height: 750px;  
  text-align: center;
}


/* INFO */
header > section:first-child{
  padding-block: 120px 0;
  max-width: 680px;
  margin: 0 auto 80px;

  .avatar{
    position: relative;
    width: 112px;
    margin: 0 auto  64px;
  
  }
  
  .avatar img:first-child{
    margin-top: 8px;
    aspect-ratio: 1/1;
    object-fit: cover;
    width: 112px;
    border: 2px solid var(--color-red);
    border-radius: 50%;
    padding: 4px;
  }
  
  .avatar img:last-child{
    position: absolute;  
    width: 31px;
    height: 25px;
    right: 2.5px;
    bottom: 5.5px;
    aspect-ratio: 1/1;
    object-fit: cover;
  }
  
  .subtitle{
    font: var(--subtitle);
    color: var(--gray-500);
  }
  
  .subtitle span{
    color: var(--color-red);
  }
  
  h1{
    font: var(--title-lg);
    color: var(--gray-600);
  }
  
  .text-sm{
    font: var(--text-sm);
    color: var(--gray-400);
  }
}

header > div{
  padding-block: 94px 57px;
  
  img{
    width: 32px;
    height: 32px;
  }
}

/* TAGS */
#tags{
  display: flex;
  justify-content: center;
  gap: 16px;

  .skills{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: var(--gray-300);
    padding: 8px 16px;
    border-radius: 999px;
    height: 40px;
    color: var(--gray-500);
    font: var(--text-md);
  }

  .skills img{
    max-width: 24px;
  }

}
