#services{
  background-color: var(--gray-100);
  text-align: center;
  margin-bottom: 144px;

  &>h2{
    font: var(--subtitle);
    color: var(--color-red);
    padding-top: 88px;
    margin-bottom: 8px;
  }

  &>h1{
    font: var(--title-md);
    color: var(--gray-600);
    margin-bottom: 56px;
  }
}

.service{
  width: 888px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  text-align: start;
  padding-bottom: 120px;

  .card-service{
    border: 2px solid var(--gray-200);
    padding: 20px;
    border-radius: 12px;
    
  }

  img{
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 20px;
  }


  h2{
    font: var(--title-sm);
    color: var(--gray-600);
    margin-bottom: 8px;
  }

  p{
    font: var(--text-sm);
    color: var(--gray-500);
    
  }
}